[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
pyjwt = "*"
pytz = "*"
sqlparse = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.9"
